
Instalação/Folder/Sentinela Scripts.iss
*.exe
Instalação/Help.htm
Instalação/Sentinela Livre Uso.rtf
Instalação/Sentinela Ícone.ico
Instalação/Sentinela - Depois da Instalação.rtf
Instalação/Prevenus - Antes da Instalação.rtf
